/* styles.css */

/* Estilos para o cabeçalho */
.header {
  background-color: #f8f9fa;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-banner {
  max-width: 200px; /* Ajuste conforme necessário */
}

.search-bar {
  display: flex;
  flex-grow: 1;
  margin-left: 20px;
}

.search-input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

/* Estilos para os resultados da busca */
.search-results {
  margin-top: 20px;
}

.search-results table {
  width: 100%;
  border-collapse: collapse;
}

.search-results th, .search-results td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

.search-results th {
  background-color: #f4f4f4;
}

.search-results tr:nth-child(even) {
  background-color: #f9f9f9;
}

.search-results p {
  padding: 10px;
  font-size: 16px;
  color: #555;
}
